<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <services>
      <register serviceType="Sitecore.PublishingService.Foundation.Extensions.Model.Wrappers.IArchiveManagerWrapper, Sitecore.PublishingService.Foundation.Extensions" implementationType="Sitecore.PublishingService.Foundation.Extensions.Model.Wrappers.ArchiveManagerWrapper, Sitecore.PublishingService.Foundation.Extensions" lifetime="Transient"/>
    </services>
    <pipelines>
      <publishEndResultBatch>
        <processor patch:after="*[@type='Sitecore.Publishing.Service.Pipelines.BulkPublishingEnd.RaiseRemoteEvents, Sitecore.Publishing.Service']" type="Sitecore.PublishingService.Foundation.Extensions.Pipelines.BulkPublishingEnd.RetrieveChangedItems, Sitecore.PublishingService.Foundation.Extensions" />
      </publishEndResultBatch>
    </pipelines>
  </sitecore>
</configuration>